DEBUG=True

SECRET_KEY=ccjILeKIAYxDpZaGgnyD3Yu52JVmz4v666AjdEuhoqmby4YaCSh6794pI4mdV95

# Deployment SERVER address
SERVER=evalgenie.eba-ahpn9zvp.us-east-1.elasticbeanstalk.com

# Used for CDN (in production)
# No Slash at the end
ASSETS_ROOT=/static/assets

# For MySql Persistence
DB_ENGINE=mysql
DB_NAME=django
DB_HOST=database-1-phase3-002.cksiorypkdub.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USERNAME=admin
DB_PASS=delta_RED_9632##!

# Stripe
STRIPE_TEST_PUBLIC=pk_test_51MoSaEFUu5u4xS0raCJ9iyrIHlXIl2NPbdYbRepoQe4XYjlCkqdGllxrOcqqIpdkQsYoueremh95YmjBy0aIEpMx00Atj8MvH4
STRIPE_TEST_SECRET=sk_test_51MoSaEFUu5u4xS0rTrH0WuxjF610HEbMUjfE5ElWiPLHzv0YLDQYCJXYVW16c0OSiIX4VS1KL6QrzhRtgAgwpfPH002LuOrL1o

# Used for Image Upload
# FTP_UPLOAD=True
# upload_cloud_type=storages.backends.ftp.FTPStorage
# ftp_username   = <FTP_USER>
# ftp_password   = <FTP_PASS>
# ftp_server_url = <FTP_SERVER_IP>
# ftp_port       = <FTP_SERVER_PORT>
# upload_url     = <WWW_ROOT_FOR_IMAGES>

# The presence enables the GH Social login
# GITHUB_ID=<GITHUB_ID_HERE>
# GITHUB_SECRET=<GITHUB_SECRET_HERE>

# The presence enables the Twitter Social login
# TWITTER_ID=<TWITTER_ID_HERE>
# TWITTER_SECRET=<TWITTER_SECRET_HERE>
