	<!-- [ chat user list ] start -->
	<section class="header-user-list">
		<div class="h-list-header">
			<div class="input-group">
				<input type="text" id="search-friends" class="form-control" placeholder="Search Friend . . .">
			</div>
		</div>
		<div class="h-list-body">
			<a href="#!" class="h-close-text"><i class="feather icon-chevrons-right"></i></a>
			<div class="main-friend-cont scroll-div">
				<div class="main-friend-list">
					<div class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe">
						<a class="media-left" href="#!"><img class="media-object img-radius" src="{{ ASSETS_ROOT }}/images/user/avatar-1.jpg" alt="Generic placeholder image ">
							<div class="live-status">3</div>
						</a>
						<div class="media-body">
							<h6 class="chat-header">Genie<small class="d-block text-c-green">Typing . . </small></h6>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- [ chat user list ] end -->
    